<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parte 2-8</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <h4>Todas las tareas</h4>
    <ul>
        <li v-for="task of tasks">
            {{ task.title }}

            <!--<del v-if="!task.pending">{{ task.title }}</del>
            <template v-else>{{ task.title }}</template>-->

            <!--{{ indice + 1}}: {{ tarea }}-->
        </li>
    </ul>

    <h4 v-if="pendingTasks.length">Tareas pendientes</h4>
    <ul v-if="pendingTasks.length">
        <li v-for="task of pendingTasks">
            {{ task.title }}

            <!--<del v-if="!task.pending">{{ task.title }}</del>
            <template v-else>{{ task.title }}</template>-->

            <!--{{ indice + 1}}: {{ tarea }}-->
        </li>
    </ul>

    <!--<template v-for="(tarea, indice) of tasks">
        <p>{{ indice + 1}}: {{ tarea }}</p>
        <hr>
    </template>-->

    <ul>
        <li v-for="(value, key, index) in user">{{ index }}; {{ key }}: {{ value }}</li>
    </ul>

    <footer class="footer">
        <p>&copy; Pablo</p>
    </footer>
</div>

<script src="vue.js"></script>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            user: {
                'First name': 'Pablo',
                'Last name': 'Jordá',
                username: 'pjorda96',
                website: 'pjorda.pablojorda.es',
                description: 'master'
            },
            tasks: [
                {
                    title: 'Aprender Vue.js',
                    pending: false
                },
                {
                    title: 'Tarea n2',
                    pending: false
                },
                {
                    title: 'Tarea n3',
                    pending: true
                },
                /*'Aprender Vue.js',
                'Tarea n2',
                'Tarea n3'*/
            ]
        },
        computed: {
            pendingTasks: function () {
                return this.tasks.filter(function (item) {
                    return item.pending;
                });
            }
        }
    });
</script>
</body>
</html>