<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parte 3-13</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group task">
        <li v-for="task in tasks" class="list-group-item"
            :class="{editing: task.editing, completed: !task.pending}">
            <a href="#"><span class="glyphicon"
                              :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check'"
                              aria-hidden="true"></span></a>

            <template v-if="!task.editing">
                <span class="description">{{ task.description }}</span>

                <div>
                    <a href="#">
                <span class="glyphicon glyphicon-edit"
                      aria-hidden="true"></span>
                    </a>
                    <a href="#">
                <span class="glyphicon glyphicon-trash"
                      aria-hidden="true"></span>
                    </a>
                </div>
            </template>

            <template v-else="task.editing">
                <input type="text" v-model="task.description">

                <div>
                    <a href="#">
                <span class="glyphicon glyphicon-ok"
                      aria-hidden="true"></span>
                    </a>
                    <a href="#">
                <span class="glyphicon glyphicon-remove"
                      aria-hidden="true"></span>
                    </a>
                </div>
            </template>
        </li>
    </ul>

    <form @submit.prevent="createTask" class="new-task-form">
        <input v-model="new_task" type="text" class="form-control">
        <button class="btn btn-primary">Crear tarea</button>
    </form>

    <footer class="footer">
        <p>&copy; Pablo</p>
    </footer>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--<script src="vue.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>-->
<script src="app.js"></script>

</body>
</html>